.App {
    display: flex;
    flex-direction: column;
}

.App .UList {
    list-style: none;
}

.App .Card:hover {
    box-shadow: 1px 1px 15px #fff;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
}